@page "/accountholderlist"
@rendermode InteractiveServer
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Net.Http.Headers
@using FinancialPlanner.Components.Models;
@using FinancialPlanner.Services;
@attribute [StreamRendering(true)]



    <small>
        <table class="table" width="25%">
            <thead>
                <tr>
                    <th width="1">First Name</th>
                    <th width="1">Last Name</th>
                    <th width="1">Date Of Birth</th>
                    <th width="1">Account Staring Balance</th>
                    <th width="1">Retirement Age</th>
                    <th width="1">Expected Monthly Retirement Income</th>
                    <th width="1">Pre Retirement Monthly Savings Contribution</th>
                    <th width="1">Social Security Payout Age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var accountHolder in AccountHolders)
                {
                    <tr>
                        <td>@accountHolder.FirstName</td>
                        <td>@accountHolder.LastName</td>
                        <td>@accountHolder.DateOfBirth</td>
                        <td>@accountHolder.AccountStaringBalance</td>
                        <td>@accountHolder.Scenario.RetirementAge</td>
                        <td>@accountHolder.Scenario.ExpectedMonthlyRetirementIncome</td>
                        <td>@accountHolder.Scenario.PreRetirementMonthlySavingsContribution</td>
                        <td>@accountHolder.Scenario.SocialSecurityPayoutAge</td>
                    </tr>
                }
            </tbody>
        </table>
    </small>
}

@code {

    [Parameter]
    public IEnumerable<AccountHolder> AccountHolders { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }
}